body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  text-align: center;
}

#login-form{
  margin-left: 570px;
  margin-top: 20%;
  width: 148px
}

.input-username{
  padding: 10px;
  border-radius: 10px;
  box-shadow:0 0 15px 10px rgba(0,0,0,0.06);

}

.input-group{
  padding: 10px;
  border-radius: 10px;
  box-shadow:0 0 15px 10px rgba(0,0,0,0.06);

}

.submit{

  appearance:none;
  -webkit-appearance:none;

  padding:10px;
  border:none;
  background-color:#3F51B5;
  color:#fff;
  font-weight:600;
  border-radius:5px;
  width:163px;

}